.home-page-first-portion {
    display: grid;
    grid-template-columns: 2.2fr 2fr;
    margin-top: 50px;
    margin-bottom: 60px;
    height: 70vh;
}

.home-page-first-portion-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-first-portion-left h1 {
    font-size: 3.5rem;
    margin-bottom: 15px;
    color: rgb(25, 25, 112);
}

.home-page-first-portion-left p {
    font-size: 1.2rem;
    text-align: justify;
    margin-bottom: 20px;
}

.home-page-first-portion-left button {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    background-color: rgba(45, 45, 155, 0.746);
    color: white;
    border-radius: 1rem;
}

.home-page-first-portion-left button:hover {
    background-color: rgba(21, 21, 135, 0.746);
}

.home-page-first-portion-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-first-portion-right img {
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

.home-page-second-portion h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 50px;
}

.home-page-review-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 40px;
    grid-gap: 30px;
    margin-left: 80px;
    height: 300px;
}

.home-page-single-review-container {
    display: flex;
    justify-content: center;
    width: 300px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    border: none;
}

.home-page-single-review {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.home-page-single-review h3 {
    font-size: 25px;
    margin: 20px 0px 25px 0px;
}

blockquote {
    font-size: 20px;
    text-align: justify;
    line-height: 1.1;
    position: relative;
    padding: 10px;
    padding-left: 30px;
}

blockquote:before {
    content: '“';
    color: rgb(25, 25, 112);
    font-size: 60px;
    position: absolute;
    top: -13px;
    left: -7px;
}

.home-page-second-portion .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-page-second-portion .button button {
    padding: 15px;
    font-size: 1rem;
    border: none;
    background-color: rgba(45, 45, 155, 0.746);
    color: white;
    border-radius: 1rem;
}

.home-page-second-portion .button button:hover {
    background-color: rgba(21, 21, 135, 0.746);
}